#리스트

In [ ]:
# 시퀀스형 자료형
a = 'hello world'
a[0]
a[:5]

'hello'

In [ ]:
range(10)[3]

3

In [ ]:
range(10)[3:]

range(3, 10)

In [ ]:
range(10)[3::2]

range(3, 10, 2)

In [ ]:
enumerate([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
# 덧셈과 곱셈
a = [1,2,3,4,5]

print(a*3) #출력 [1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [ ]:
l = [1, 2, 3, 4, 5]
print(l[0]) # 출력: 1
print(l[3]) # 출력: 4
print(l[-1]) # 출력: 5
print(l[-3]) # 출력: 3

In [ ]:
a = [1,2,3,4,5]
a = a*3
print(a*3)
id(a[2]),id(a[7])

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

(138988834865456, 138988834865456)

In [ ]:
a = [1, 2, 3]
a = [a * 3] * 2 # 리스트 컴프리헨션 사용하셔서 만드시는 것을 권합니다.

print(a)
id(a[0]), id(a[1])
a[0][0] = 10000
a

[[1, 2, 3, 1, 2, 3, 1, 2, 3], [1, 2, 3, 1, 2, 3, 1, 2, 3]]

[[10000, 2, 3, 1, 2, 3, 1, 2, 3], [10000, 2, 3, 1, 2, 3, 1, 2, 3]]

In [ ]:
l = [1, 2, 3, 4, 5]
print(l[:])     # 출력: [1, 2, 3, 4, 5]
print(l[::-1])  # 출력: [5, 4, 3, 2, 1]
print(l[::2])   # 출력: [1, 3, 5]

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[1, 3, 5]

In [ ]:
[1, 2, 3] + [1, 2, 3] = [1, 2, 3, 1, 2, 3]
# [2, 4, 6] 요소마다 더해지는 것은 아닙니다. 그런데 이러한 코드는 __add__에 구현이 되어 있는 것입니다.
# __add__에 요소마다 더하는 것으로 구현이 되어 있었다면 [2, 4, 6]을 출력했을 것입니다.

SyntaxError: ignored

In [ ]:
import numpy as np

l = [1, 2, 3]
l = np.array(l)
l * 3
l + l
# 너무 당연하게 요소를 붙이는 것이다라고 생각하지는 않으셨으면 좋겠습니다.

array([2, 4, 6])

In [ ]:
# 문제: 이 데이터에서 licat을 출력해주세요. 단, 직접 접근은 안됩니다. data[1]로 접근하는 것은 안됩니다.
data = [['weniv CTO binky', 2], ['weniv CEO licat', 1], ['weniv COO mura', 2]]
# 데이터에서 CEO 정보를 가져옴
weniv_data = list(filter(lambda x: 'licat' in x[0], data))
print(data)
print(weniv_data)
result = weniv_data[0][0].split(' ')[-1]
print(result)

[['weniv CTO binky', 2], ['weniv CEO licat', 1], ['weniv COO mura', 2]]
[['weniv CEO licat', 1]]
licat

In [ ]:
# 문제1: 다음 함수 is_palindrome를 완성하시오. 이 함수는 하나의 문자열을 인자로 받아, 해당 문자열이 팰린드롬(앞으로 읽으나 뒤로 읽으나 같은 단어나 구)이면 True를, 아니면 False를 반환해야 합니다.
def is_palindrome(s):
    return s == s[::-1]

print(is_palindrome("level"))  # 결과: True
print(is_palindrome("python")) # 결과: False

True
False

In [ ]:
# 문제2: 리스트 numbers가 주어졌을 때, 이 리스트 내의 모든 짝수를 제거하는 코드를 작성하시오.
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers = list(filter(lambda x: x % 2 != 0, numbers))

print(numbers)  # 결과: [3, 5, 7, 9]

[3, 5, 7, 9]

In [ ]:
# b'' # 바이트
# f'' # f-string 용법
# r'' # raw값 출력

In [1]:
b = b'world' # 유니코드표 X, 아스키코드표에서 찾습니다!
b[0]

119

# 리스트(이어서)

In [2]:
z = [
		1,
		'apple',
		2.5,
		['a', 'b'],
		(1, 2)
]
print(z[0])

1

In [4]:
a = [1, 2, 3, 4, 5]
b = [6, 7, 8]

print(a + b) # 출력: [1, 2, 3, 4, 5, 6, 7, 8]

[1, 2, 3, 4, 5, 6, 7, 8]

In [3]:
import numpy as np

l = [1, 2, 3]
l = np.array(l)
l * 3
l + l
# 너무 당연하게 요소를 붙이는 것이다라고 생각하지 않으셨으면 좋겠습니다.

array([2, 4, 6])

In [5]:
sum([1,2,3,4])

10

In [11]:
# list(range(101))과 슬라이싱을 사용해 아래 문제를 풀어주세요.

# 문제 1: 짝수를 모두 더해주세요.
# 문제 2: 3의 배수와 5의 배수를 모두 더해주세요.

sum(filter(lambda x:x%2 ==0, range(101)))


sum(filter(lambda x:x%3 == 0 or x%5 == 0, range(101)))




# 문제 1: 짝수를 모두 더해주세요
sum(list(range(101))[::2])
# 문제 2: 3의 배수와 5의 배수를 모두 더해주세요.
sum(list(range(101))[::3]) + sum(list(range(101))[::5]) - sum(list(range(101))[::15])

2418

In [12]:
l = [1, 2, 3]
dir(l)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [13]:
#  'append',
#  'clear',
#  'copy',
#  'count',
#  'extend',
#  'index',
#  'insert',
#  'pop',
#  'remove',
#  'reverse',
#  'sort'

# append
l = [1, 2, 3]
l.append(100)
l

[1, 2, 3, 100]

In [15]:
# clear
l = [1, 2, 3]
l.clear()
l

[]

In [18]:
# copy
l = [10, 20, 30]
ll = l
l[0] = 1000
l,ll

([1000, 20, 30], [1000, 20, 30])

In [19]:
l = [10, 20, 30]
ll = l.copy()
l[0] = 1000
l,ll

([1000, 20, 30], [10, 20, 30])

In [21]:
l = [10, 20, 30]
ll = l[:]
l[0] = 1000
l,ll

([1000, 20, 30], [10, 20, 30])

In [23]:
a = [10, 20]
b = [100, 200]

l = [a,b]
ll = l.copy()

l[0][0] = 1000
print(l)
print(ll)

[[1000, 20], [100, 200]]
[[1000, 20], [100, 200]]

In [24]:
# 이정도는 알아야 우리에게 충분합니다.
a = [10, 20]
b = [100, 200]

l = [a, b]
ll = l.copy()
print(id(l), id(ll))
l[0][0] = 100000
print(l, ll)

140408923648384 140408924059008
[[100000, 20], [100, 200]] [[100000, 20], [100, 200]]

In [25]:
import copy

a = [10, 20]
b = [100, 200]

l = [a, b]
ll = copy.deepcopy(l)

print(id(l), id(ll))
l[0][0] = 100000
print(l, ll)

140408925437248 140408924060736
[[100000, 20], [100, 200]] [[10, 20], [100, 200]]

In [26]:
a = [1, 1, 2, 3, 1]
print(a.count(1))  # 출력: 3

3

In [27]:
a = [1, 2, 3]
a.extend([4, 5, 6])
print(a)  # 출력: [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [28]:
a = [1, 2, 3]
a.extend('hello')
print(a)

[1, 2, 3, 'h', 'e', 'l', 'l', 'o']

In [29]:
a = [1, 2, 3]
a.append('hello')
print(a)

[1, 2, 3, 'hello']

In [33]:
#  extend는 한 자리씩 잘라서 넣어요.
userinput = input('숫자를 입력하세요 : ')
l = [10, 20, 30]
l.extend(map(int,userinput))
l

숫자를 입력하세요 : 123

[10, 20, 30, 1, 2, 3]

In [35]:
l = [10,20,30,40,50]

l.index()

ValueError: ignored

In [36]:
l = [10, 20, 30, 40, 50]
l.index(30)
l.index(60)

ValueError: ignored

In [37]:
l = [10, 20, 30, 40, 50]
# l.find(60) # find 메서드가 없습니다. 저도 간혹 이 실수를 합니다.

In [38]:
l = [10, 20, 30]
l.insert(2, 25)
print(l)  # 출력: [10, 20, 25, 30]

[10, 20, 25, 30]

In [49]:
# [10,20,40,50,30]에 정렬한 후 20과 30의 중간에 25라는 값을 삽인하고 싶습니다.
l= [10,20,40,50,30]
l.insert(((sorted(l)).index(20))+1,25)
l

[10, 20, 25, 40, 50, 30]

In [50]:
# [10, 20, 40, 50, 30]와 같은 리스트에서 20과 30 중간에 25라는 값을 삽입하고 싶습니다.
# 현재 리스트는 정렬되어 있지 않은데 이 리스트를 정렬하고 20과 30에 값을 index 메서드로 찾아
# insert로 중간에 값을 삽입해주세요.
# 정답: [10, 20, 25, 30, 40, 50]
# * 다른 정답을 허용합니다.

s = sorted([10, 20, 40, 50, 30])
s.insert(s.index(30), 25)
s

s = [10, 20, 40, 50, 30]
s.append(25)
sorted(s)

# sorted([10, 20, 40, 50, 30].append(25)) # error
# print(s.append(100))의 값이 None이기 때문에 그렇습니다.

[10, 20, 25, 30, 40, 50]

In [51]:
# 첫번째에서 빼는 것
l = [10, 20, 30]
result = l.pop(0)
print(l, result)

[20, 30] 10
5
4
3
2
1
1
2
3
4
5

In [54]:
######

l = [1, 2, 3, 4, 5]

while l:
    print(l.pop())

l

5
4
3
2
1

[]

In [56]:
######

l = [1, 2, 3, 4, 5, 0, 0]

while l:
    print(l.pop(0))

1
2
3
4
5
0
0

[]

In [57]:
a = [1, 2, 3, 1, 2]
a.remove(2)
print(a)  # 출력: [1, 3, 1, 2]

[1, 3, 1, 2]

In [60]:
l = [1, 2, 3, 1, 2, 2, 2, 1, 1]
while l.count(2):
    l.remove(2)
l

[1, 3, 1, 1, 1]

In [61]:
l = [1, 2, 3, 1, 2, 2, 2, 1, 1]
list(filter(lambda x: x != 2, l))

[1, 3, 1, 1, 1]

In [62]:
l = [1, 2, 10, 3, 4]
l.reverse()
print(l)

[4, 3, 10, 2, 1]

In [63]:
# reversed와 reverse 차이, sorted와 sort 차이
# 원본 수정이 아니냐, 원본수정이냐? 입니다.

l = [1, 2, 10, 3, 4]
print(list(reversed(l))) # 출력: [4, 3, 10, 2, 1]
print(l)  # 출력: [1, 2, 10, 3, 4] # 원본은 그대로입니다.

[4, 3, 10, 2, 1]
[1, 2, 10, 3, 4]

In [64]:
# reversed와 reverse 차이, sorted와 sort 차이
# 원본 수정이 아니냐, 원본수정이냐? 입니다.

l = [1, 2, 10, 3, 4]
print(l.reverse()) # 출력: None
print(l) # 출력: [4, 3, 10, 2, 1]

None
[4, 3, 10, 2, 1]

In [65]:
# 게시판 = [게시물1, 게시물2, 게시물3, 게시물4]
# 게시물1: 오래된 게시물이 저장이 되어 있을겁니다. (append로 게시물 추가했다고 생각해볼게요.)
# 그러면 그냥 게시판을 출력했을 때 최상단에 노출되는 게시물은 가장 오래된 게시물일겁니다.
# 컴퓨터 입장에서는요.
# 그래서 게시판.reverse()해서 출력합니다. 최신게시물이 상단에 오게요.
# 그러면 게시물5는 어디에 추가 될까요? 원본을 수정했기 때문에 게시물1 다음에 게시물5가 추가되요.
# 게시판[::-1], reversed(게시판)을 사용해서 역순으로 만들었어야 했습니다.

# 튜플

In [67]:
#  튜플은 참조 불변하는 자료형입니다.
# 참조가 불변하는 리스트?

x = (1, 2, 3)
# x[0]=1000
y = ('apple', 'banana', 'cherry')
x,y

((1, 2, 3), ('apple', 'banana', 'cherry'))

In [68]:
x = [10, 20, 30]
y = (1, 2, x)
x[0] = 1000
y # 출력: (1, 2, [1000, 20, 30])

(1, 2, [1000, 20, 30])

In [69]:
# 참조의 갯수가 변하면 안되는 곳
#  데이터의 변경이 민감한 곳
s = {'one':1, 'two':2}
s.items()

dict_items([('one', 1), ('two', 2)])

In [71]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
tuple3 = tuple1 + tuple2
print(tuple1, tuple2, tuple3)  # 출력: (1, 2, 3, 4, 5, 6)

(1, 2, 3) (4, 5, 6) (1, 2, 3, 4, 5, 6)

In [72]:
tuple1 = (1, 2, 3)
tuple2 = tuple1 * 3
print(tuple2)  # 출력: (1, 2, 3, 1, 2, 3, 1, 2, 3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [73]:
t = (1, 2, 3, 4, 5)
print(t[0])  # 출력: 1

1

In [74]:
tuple1 = (1, 2, 3, 4, 3, 5)
print(tuple1.count(3))  # 출력: 2

2

In [75]:
tuple1 = (1, 2, 3, 4, 3, 5)
print(tuple1.index(3))  # 출력: 2

2

# 딕셔너리

In [ ]:
#  파이썬 3.6버전부터 삽입 순서가 보장

In [76]:
d = dict([('one' , '하나'), ('two', '둘')])
print(d)  # 출력: {'one' : '하나', 'two' : '둘'}

{'one': '하나', 'two': '둘'}

In [77]:
d = dict([['one' , '하나'], ['two', '둘']])
print(d)  # 출력: {'one' : '하나', 'two' : '둘'}

{'one': '하나', 'two': '둘'}

In [78]:
d = dict([['aa'], ['bb']])
print(d)  # error

ValueError: ignored

In [79]:
d = dict(name='licat', age=10)
print(d)  # 출력: {'name': 'licat', 'age': 10}

{'name': 'licat', 'age': 10}

In [80]:
complex_dict = {
    "numbers": [1, 2, 3],
    42: "answer",
    ("x", "y"): [10, 20]
}
print(complex_dict["numbers"])  # 출력: [1, 2, 3]
print(complex_dict[42])         # 출력: answer
print(complex_dict[("x", "y")]) # 출력: [10, 20]

[1, 2, 3]
answer
[10, 20]

In [81]:
person = {'name': 'licat', 'city': 'Jeju'}
person['name'] = 'mura'
person['city'] = 'Seoul'

print(person)

{'name': 'mura', 'city': 'Seoul'}

In [82]:
keys = ["name", "city", "job"]
values = ["licat", "Jeju", "Developer"]

new_dict = dict(zip(keys, values))
print(new_dict)

{'name': 'licat', 'city': 'Jeju', 'job': 'Developer'}

In [83]:
hero = {'name': 'licat', 'age': 10}
dir(hero)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [84]:
# 'items',
# 'keys',
# 'values'
# 'fromkeys',
# 'get',
# 'pop',
# 'popitem',
# 'setdefault',
# 'update',

hero = {'name': 'licat', 'age': 10}
hero2.items()
# hero2.items()[0] # error
list(hero2.items())[0] # 출력: ('name', 'mura')

NameError: ignored

In [85]:
# 'fromkeys',
# 'get',
# 'items',
# 'keys',
# 'pop',
# 'popitem',
# 'setdefault',
# 'update',
# 'values'

hero = {'name': 'licat', 'age': 10}
hero2 = hero.copy()

hero2['name'] = 'mura'

print(hero, hero2)

{'name': 'licat', 'age': 10} {'name': 'mura', 'age': 10}

In [86]:
# 'items',
# 'keys',
# 'values'
# 'fromkeys',
# 'get',
# 'pop',
# 'popitem',
# 'setdefault',
# 'update',

hero = {'name': 'licat', 'age': 10}
print(hero2.keys())
type(hero2.keys())

# 이렇게 많이 사용합니다.
for i in hero2.keys():
    print(i)

dict_keys(['name', 'age'])
name
age

In [96]:
keys = ['name', 'city', 'job']
values = ['licat', 'Jeju', 'Developer']
print(dict.fromkeys(keys, values))

{'name': ['licat', 'Jeju', 'Developer'], 'city': ['licat', 'Jeju', 'Developer'], 'job': ['licat', 'Jeju', 'Developer']}

In [97]:
keys = ['name', 'city', 'job']
value = None
print(dict.fromkeys(keys, values))

{'name': ['licat', 'Jeju', 'Developer'], 'city': ['licat', 'Jeju', 'Developer'], 'job': ['licat', 'Jeju', 'Developer']}

In [99]:
# 위험한 코드의 예시입니다.

def 요일변경(n):
    return{
        1:'월',
        2:'화',
        3:'수',
        4:'목',
        5:'금',
        6:'토',
        7:'일'

    }[n]
요일변경(3)
요일변경(8)

KeyError: ignored

In [101]:
# 위험한 코드를 아래처럼 수정해보자구

def 요일변경(n):
    return{
        1:'월',
        2:'화',
        3:'수',
        4:'목',
        5:'금',
        6:'토',
        7:'일'

    }.get(n, '')
요일변경(8)
print(요일변경(8))

None

In [102]:
# 아래와 같이 변경을 해주세요.
def f():
    return '금금금요일'

def 요일변경(w):
    return {
        '월': '월요일',
        '화': '화요일',
        '수': '수요일',
        '목': '목요일',
        '금': '금요일',
        '토': '토요일',
        '일': '일요일',
    }.get(w, f())

요일변경('하하')

'금금금요일'

In [103]:
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
one_value = numbers.pop('one')

In [104]:
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
numbers.pop('one')
numbers

{'two': '둘', 'three': '셋'}

In [105]:
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
numbers.pop()
numbers

TypeError: ignored

In [106]:
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
four_value = numbers.setdefault("four", "넷")
print(four_value)
print(numbers)

넷
{'one': '하나', 'two': '둘', 'three': '셋', 'four': '넷'}

In [107]:
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
numbers.update({'four': '넷', 'five': '다섯'})
print(numbers)

{'one': '하나', 'two': '둘', 'three': '셋', 'four': '넷', 'five': '다섯'}

In [108]:
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
numbers.update({'three': '넷', 'five': '다섯'})
print(numbers)

{'one': '하나', 'two': '둘', 'three': '넷', 'five': '다섯'}

#연습문제

In [ ]:
국영수 = {'국어': 97, '영어': 38, '수학': 90}
# 문제1: 다음 국영수 dict에 점수에 평균을 구하는 코드를 작성해주세요.
# 문제2: {'사회':70, '과학':85}가 추가되었습니다. dict에 평균을 구하는 코드를 작성해주세요.
# 문제3: 영어와 수학점수가 각각 10점씩 올랐습니다. 점수를 10점 추가하는 코드를 작성해주세요.
# 문제4: 최종 점수에서 가장 높은 점수를 출력하는 코드를 작성해주세요.

In [146]:
국영수 = {'국어':97, '영어': 38, '수학':90}
# 문제 1 :

print(sum(국영수.values()) / len(국영수))

# 문제 2 :

국영수.update({'사회': 70, '과학':85})
print(국영수)

# 문제 3:
국영수.update({'영어': 국영수.get('영어')+10, '수학':국영수.get('수학')+10})

print(국영수)

# 문제 4:
국영수.copy()
print(max(국영수.values()))

# 문제 5:


print(과목)

75.0
{'국어': 97, '영어': 38, '수학': 90, '사회': 70, '과학': 85}
{'국어': 97, '영어': 48, '수학': 100, '사회': 70, '과학': 85}
100

AttributeError: ignored

In [149]:
local = {'제주':100, '서울': 977, '부산': 500}
강우량 = {'제주':100, '서울':97, '부산':50}

max(강우량, key=local.get)

'서울'

In [150]:
d = {'a': 10, 'bb': 9, 'c': 5, 'd': 6}
max(d) # 유니코드가 가장 큰 key값을 출력하겠다.

'd'

In [151]:
d = {'a': 10, 'bb': 9, 'c': 5, 'd': 6}
max(d, key=len) # 길이가 가장 긴 key값을 출력하겠다.

'bb'

In [152]:
d = {'a': 10, 'bb': 9, 'c': 5, 'd': 6}
max(d, key=d.get) # d.get에서 반환된 가장 큰값의 key값을 출력하겠다.

'a'

# Set(집합)

In [155]:
# 1. 중복이 되지 않습니다.
# 2. 순서가 없습니다.
# 3. 교집합, 차집합, 합집합 등이 가능합니다.

set('hello')
s = {'licat', 'licat', 'licat', 'licat', 'mura', 'binky'} #게시물에 글 쓴 사람은 몇 사람이죠?
len(s)

3

In [160]:
# 주의
t = {} #dict
t = () #tuple
t = (0) # int
t = (0,) #tuple
t = {0} #set
t = set()
type(t)

set

In [162]:
# 합집합
s = {1,2,3}
ss = {3,4,5,6}

s | ss

{1, 2, 3, 4, 5, 6}

In [163]:
#교집합
s = {1,1,1,2,3,4,4}
ss = {3,4,5,6}

s & ss

{3, 4}

In [164]:
# 차집합
s = {1,1,1,2,3,4,4}
ss = {3,4,5,6}

s-ss

{1, 2}

In [165]:
s.add(100)
s

{1, 2, 3, 4, 100}

In [169]:
# s.remove(1000) error 가 나요! 있는 값만 지울 수 있어요

s.discard(1000)  # error가 안나요!
s

{1, 2, 3, 4, 100}

# 리스트 컴프리핸션

In [171]:
# 전통적인 방법
l = []
for i in range(10):
    l.append(i)

l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [172]:
# 리스트 컴프리헨션 사용
ll = [i for i in range(10)]

ll

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [175]:
l = [f'{i}입니다' for i in range(10)]
l

['0입니다',
 '1입니다',
 '2입니다',
 '3입니다',
 '4입니다',
 '5입니다',
 '6입니다',
 '7입니다',
 '8입니다',
 '9입니다']

In [176]:
l = []
for i in range(2, 10):
    for j in range(1, 10):
        l.append(f'{i} X {j} = {i*j}')
l

['2 X 1 = 2',
 '2 X 2 = 4',
 '2 X 3 = 6',
 '2 X 4 = 8',
 '2 X 5 = 10',
 '2 X 6 = 12',
 '2 X 7 = 14',
 '2 X 8 = 16',
 '2 X 9 = 18',
 '3 X 1 = 3',
 '3 X 2 = 6',
 '3 X 3 = 9',
 '3 X 4 = 12',
 '3 X 5 = 15',
 '3 X 6 = 18',
 '3 X 7 = 21',
 '3 X 8 = 24',
 '3 X 9 = 27',
 '4 X 1 = 4',
 '4 X 2 = 8',
 '4 X 3 = 12',
 '4 X 4 = 16',
 '4 X 5 = 20',
 '4 X 6 = 24',
 '4 X 7 = 28',
 '4 X 8 = 32',
 '4 X 9 = 36',
 '5 X 1 = 5',
 '5 X 2 = 10',
 '5 X 3 = 15',
 '5 X 4 = 20',
 '5 X 5 = 25',
 '5 X 6 = 30',
 '5 X 7 = 35',
 '5 X 8 = 40',
 '5 X 9 = 45',
 '6 X 1 = 6',
 '6 X 2 = 12',
 '6 X 3 = 18',
 '6 X 4 = 24',
 '6 X 5 = 30',
 '6 X 6 = 36',
 '6 X 7 = 42',
 '6 X 8 = 48',
 '6 X 9 = 54',
 '7 X 1 = 7',
 '7 X 2 = 14',
 '7 X 3 = 21',
 '7 X 4 = 28',
 '7 X 5 = 35',
 '7 X 6 = 42',
 '7 X 7 = 49',
 '7 X 8 = 56',
 '7 X 9 = 63',
 '8 X 1 = 8',
 '8 X 2 = 16',
 '8 X 3 = 24',
 '8 X 4 = 32',
 '8 X 5 = 40',
 '8 X 6 = 48',
 '8 X 7 = 56',
 '8 X 8 = 64',
 '8 X 9 = 72',
 '9 X 1 = 9',
 '9 X 2 = 18',
 '9 X 3 = 27',
 '9 X 4 = 36',
 '9 X 5 = 45',
 '9 X 6 = 54',
 '9 X 7 = 63',
 '9 X 8 = 72',
 '9 X 9 = 81']

In [177]:
l = [f'{i} X {j} = {i*j}' for i in range(2, 10) for j in range(1, 10)]
l

['2 X 1 = 2',
 '2 X 2 = 4',
 '2 X 3 = 6',
 '2 X 4 = 8',
 '2 X 5 = 10',
 '2 X 6 = 12',
 '2 X 7 = 14',
 '2 X 8 = 16',
 '2 X 9 = 18',
 '3 X 1 = 3',
 '3 X 2 = 6',
 '3 X 3 = 9',
 '3 X 4 = 12',
 '3 X 5 = 15',
 '3 X 6 = 18',
 '3 X 7 = 21',
 '3 X 8 = 24',
 '3 X 9 = 27',
 '4 X 1 = 4',
 '4 X 2 = 8',
 '4 X 3 = 12',
 '4 X 4 = 16',
 '4 X 5 = 20',
 '4 X 6 = 24',
 '4 X 7 = 28',
 '4 X 8 = 32',
 '4 X 9 = 36',
 '5 X 1 = 5',
 '5 X 2 = 10',
 '5 X 3 = 15',
 '5 X 4 = 20',
 '5 X 5 = 25',
 '5 X 6 = 30',
 '5 X 7 = 35',
 '5 X 8 = 40',
 '5 X 9 = 45',
 '6 X 1 = 6',
 '6 X 2 = 12',
 '6 X 3 = 18',
 '6 X 4 = 24',
 '6 X 5 = 30',
 '6 X 6 = 36',
 '6 X 7 = 42',
 '6 X 8 = 48',
 '6 X 9 = 54',
 '7 X 1 = 7',
 '7 X 2 = 14',
 '7 X 3 = 21',
 '7 X 4 = 28',
 '7 X 5 = 35',
 '7 X 6 = 42',
 '7 X 7 = 49',
 '7 X 8 = 56',
 '7 X 9 = 63',
 '8 X 1 = 8',
 '8 X 2 = 16',
 '8 X 3 = 24',
 '8 X 4 = 32',
 '8 X 5 = 40',
 '8 X 6 = 48',
 '8 X 7 = 56',
 '8 X 8 = 64',
 '8 X 9 = 72',
 '9 X 1 = 9',
 '9 X 2 = 18',
 '9 X 3 = 27',
 '9 X 4 = 36',
 '9 X 5 = 45',
 '9 X 6 = 54',
 '9 X 7 = 63',
 '9 X 8 = 72',
 '9 X 9 = 81']

In [178]:
l = []
for i in range(10):
    if i % 2 == 0:
        l.append(i)
    else:
        l.append(None)
l

[0, None, 2, None, 4, None, 6, None, 8, None]

In [179]:
# error가 나는 코드
# l = [i for i in range(10) if i % 2 == 0 else None]
# l

In [180]:
l = [i if i % 2 == 0 else None for i in range(10)]
l

[0, None, 2, None, 4, None, 6, None, 8, None]

['0입니다!',
 '1입니다!',
 '2입니다!',
 '3입니다!',
 '4입니다!',
 '5입니다!',
 '6입니다!',
 '7입니다!',
 '8입니다!',
 '9입니다!']

#얕은 복사와 깊은 복사

In [87]:
import copy
a = [1,2]
b = [3.4]

aa = [10,20,a]
bb = [30,40,b]

aaa = [100,200,aa]
bbb = [300,400,bb]

l = [aaa,bbb]
ll = copy.deepcopy(l) # 깊은 복사

a[0] = 99
print(l)
print(ll)

[[100, 200, [10, 20, [99, 2]]], [300, 400, [30, 40, [3.4]]]]
[[100, 200, [10, 20, [1, 2]]], [300, 400, [30, 40, [3.4]]]]

In [90]:
l = [[1, 2, 3], [4, 5, 6]]
ll = [i for i in l]
ll[0][0] = 1000
print(l)
print(ll)

[[1000, 2, 3], [4, 5, 6]]
[[1000, 2, 3], [4, 5, 6]]

In [91]:
# 리스트 컴프리헨션으로 깊은 복사 구현(완전하진 않습니다.)
l = [[1, 2, 3], [4, 5, 6]]
ll = [i[:] for i in l]
ll[0][0] = 1000
print(l)
print(ll)

[[1, 2, 3], [4, 5, 6]]
[[1000, 2, 3], [4, 5, 6]]

In [92]:
# 리스트 컴프리헨션으로 깊은 복사 구현
# (완전하진 않d은 코드에요
a=[9,99]
l = [[1, 2, a], [4, 5, 6]]
ll = [i[:] for i in l]
a[0] = 1000
print(l)
print(ll)

[[1, 2, [1000, 99]], [4, 5, 6]]
[[1, 2, [1000, 99]], [4, 5, 6]]

In [93]:
a = [9999, 9999, 9999]
b = copy.deepcopy(a)
c = copy.deepcopy(b)
print(a, b, c)

print(id(a[0]), id(b[0]), id(c[0]))

[9999, 9999, 9999] [9999, 9999, 9999] [9999, 9999, 9999]
140408924586416 140408924586416 140408924586416

In [94]:
c = [9999, 9999, 9999]
id(c[0]), id(c[1]), id(c[2])
c[0] is c[1]

True

In [95]:
test = {'one':9999, 'two':9998, 'three':9999}
id(test['one']), id(test['two']), id(test['three'])
#같은 컨벤션 내에 지정된 숫자는 동일한 메모리에 저장

(140408924586992, 140408924586928, 140408924586992)