# 조건문

In [ ]:
if True:
	print('True') # 출력: True

True

In [ ]:
if 1:
    print('hello')
print('end')

if 0:
    print('hesllo')
print('end')

hello
end
end

In [ ]:
x = 5
y = 10
result = 'x is greater' if x > y else 'y is greater or equal'
print(result) # 출력: 'y is greater or equal'

y is greater or equal

In [ ]:
if condition:
    raise ValueError('An error occurred')

NameError: ignored

In [ ]:
def my_function():
    print('Function called')

if condition:
    my_function()

NameError: ignored

In [ ]:
my_list = [x for x in range(10) if x % 2 == 0]
my_list

[0, 2, 4, 6, 8]

In [ ]:
my_function = lambda x: '짝수' if x % 2 == 0 else '홀수'
my_function(10)

'짝수'

In [ ]:
x = -1
assert x > 0, 'x must be positive'
# 잘 안쓸 것 같네요.

AssertionError: ignored

In [ ]:

def my_function(x):
    if x < 0:
        return 'Input cannot be negative'
    # ...

my_function(1)

In [ ]:
score = 81
money = 0

if score >= 90:
    print('mom : i\'m so happy!')
    money += 1000000
elif score >= 80:
    print('mom : i\'m happy!')
    money += 100000
elif score >= 70 and score < 80:
    print('mom : i\'m so...!')
    money += 10000
elif score >= 60 and score < 70:
    print('mom : i\'m so...!')
    money += 1000
else:
    print('mom : i\'m...!')
print(money)

mom : i'm happy!
100000

In [ ]:
score = 81
money = 0

if score >= 90:
    print('mom : i\'m so happy!')
    money += 1000000
if score >= 80:
    print('mom : i\'m happy!')
    money += 100000
if score >= 70:
    print('mom : i\'m so...!')
    money += 10000
if score >= 60:
    print('mom : i\'m so...!')
    money += 1000
else:
    print('mom : i\'m...!')
print(money)

mom : i'm happy!
mom : i'm so...!
mom : i'm so...!
111000

In [ ]:
#  if, elif, else는 코드를 한 묶음으로 만들어줍니다.

In [ ]:
# if를 중첩해서 사용하기
movie = {
    '영화': '무빙',
    '장르': 'SF',
    '서비스': '디즈니',
    '비용': 15000,
    '평점': 4.9
}

if movie['장르'] == 'SF':
    if movie['서비스'] == '디즈니' or movie['서비스'] == '넷플릭스':
        if movie['평점'] >= 4.5:
            if movie['비용'] <= 20000:
                print('영화시청')

영화시청

In [ ]:
# if를 중첩해서 사용하기
movie = {
    '영화': '무빙',
    '장르': 'SF',
    '서비스': '디즈니',
    '비용': 15000,
    '평점': 4.9
}

if movie['장르'] == 'SF' and (movie['서비스'] == '디즈니' or movie['서비스'] == '넷플릭스') and movie['평점'] >= 4.5 and movie['비용'] <= 20000:
    print('영화시청')

영화시청

In [ ]:
# if를 중첩해서 사용하기
movie = {
    '영화': '무빙',
    '장르': 'SF',
    '서비스': '디즈니',
    '비용': 15000,
    '평점': 4.9
}

if movie['장르'] == 'SF':
    if movie['서비스'] == '디즈니' or movie['서비스'] == '넷플릭스':
        if movie['평점'] >= 4.5 and movie['비용'] <= 20000:
            print('영화시청')

영화시청

In [ ]:
# if를 중첩해서 사용하기
# 이정도가 깔끔하게 다듬어진 것입니다.
movie = {
    '영화': '무빙',
    '장르': 'SF',
    '서비스': '왓챠',
    '비용': 15000,
    '평점': 4.9
}

if movie['장르'] == 'SF':
    if movie['서비스'] == '디즈니' or movie['서비스'] == '넷플릭스':
        if movie['평점'] >= 4.5 and movie['비용'] <= 20000:
            print('영화시청')
    else:
        print(movie['서비스'] + ' 구독하기!')

왓챠 구독하기!

In [ ]:
text = 'hello World'
match text:
    case 'Hello':
        print('Hello')
    case 'World':
        print('World')
    case _:
        print('No Match') # 결과 'No Match'

No Match

In [ ]:
text = 'World'
match text:
    case 'Hello':
        print('Hello')
    case 'World':
        print('World')
    case _:
        print('No Match')

World

In [ ]:
# 작동하지 않는 코드에요

text = 'Hello'
match text:
    case 'Hello':
    case 'World':
        print('World')
    case _:
        print('No Match')

IndentationError: ignored

In [ ]:
def test(i):
    match i:
        case 1:
            print('One')
        case 2:
            print('Two')
        case 3 | 4: # or 과 같아요
            print('Three or Four')
        case _ if i > 10:
            print('Greater than ten')
        case _:
            print('Other')

test(1) # 출력: One
test(2) # 출력: Two
test(3) # 출력: Three or Four
test(4) # 출력: Three or Four
test(5) # 출력: Other
test(15) # 출력: Greater than ten

One
Two
Three or Four
Three or Four
Other
Greater than ten

In [ ]:
# 작동하는 코드입니다.
text = 'Hello'
match text:
    case 'Hello' | 'World':
        print('World')
    case _:
        print('No Match')

World

In [ ]:
# 각 공격에 따라 아래의 값이 출력되어야 합니다.
# 물리공격, 마법공격 : '100의 데미지 입혔습니다'
# 정신공격: '100ms 만큼 상대방이 혼란을 느낍니다.'

def attack(attack_type, damage):
    match attack_type:
        case '물리공격'| '마법공격':
            print(f'{damage}의 데미지 입혔습니다')
        case '정신공격':
            print(f'{damage}ms 만큼 상대방이 혼란을 느낍니다.')

attack('물리공격', 100)
attack('마법공격', 100)
attack('정신공격', 100)

100의 데미지 입혔습니다
100의 데미지 입혔습니다
100ms 만큼 상대방이 혼란을 느낍니다.

# 반복문

In [ ]:
for x in (1,2,3,4,5):
	print(f'{x}번째 입니다.')

1번째 입니다.
2번째 입니다.
3번째 입니다.
4번째 입니다.
5번째 입니다.

In [ ]:
for x in ('hello'):
	print(f'{x}번째 입니다.')

h번째 입니다.
e번째 입니다.
l번째 입니다.
l번째 입니다.
o번째 입니다.

In [ ]:
문자열 = 'hello world'
for a in 문자열 :
    print(a)

h
e
l
l
o

w
o
r
l
d

In [ ]:
리스트 = ['하나', '둘', '셋', '넷', '다섯']
for a in 리스트:
    print(a)

하나
둘
셋
넷
다섯

In [ ]:
단어_사전 = {
    '하나' : 'one',
    '둘' : 'two',
    '셋' : 'three',
}

for a in 단어_사전:
    print(a)

하나
둘
셋

In [ ]:
for key,value in 단어_사전.items():
    print('{0} : {1}'.format(key, value))

하나 : one
둘 : two
셋 : three

In [ ]:
#  1부터 100까지 더하는 코드
result = 0
for i in range(100):
    result += i
result

4950

In [ ]:
result = 0
# 1부터 100까지 짝수를 더하는 코드
# 권장하지 않아요 100번 돌아야하고 if문도 봐야함
for i in range(101):
    if i%2 == 0:
        result +=i
result

2550

In [ ]:
# 권장하는 코드

result = 0
for i in range(0, 101, 2):
    result += i
result

2550

In [ ]:
#  홀수들에 특이한 덧셈을 하고 싶습니다.
#  예를 들어 6이하의 특이한 더
#  중첩 for를 조금 어렵게 표현
result = 0
for i in [range(3), range(5), range(7)]:
    for j in i:
        print(j)

0
1
2
0
1
2
3
4
0
1
2
3
4
5
6

In [ ]:
result = 0
for i in [range(2), range(4), range(6)]:
    for j in i:
        result += j
result

22

In [ ]:
for i in range(2, 10):
    print(f"{i}단")
    for j in range(1, 10):
        result = i * j
        print(f"{i} x {j} = {result}")

2단
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3단
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4단
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5단
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6단
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7단
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8단
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9단
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [ ]:
# for는 중첩 2번 해야 합니다.
# 문제1
# 다음과 같은 문자열이 있습니다.
# s = '135678'
# 이때 구구단 1단, 3단, 5단, 6단, 7단, 8단을 출력하는 코드를 만들어주세요.

# 심화문제
# 특이한 구구단이 있다.
# [2, 3, 6]이 있었을 때 아래와 같이 출력되어야 한다.
# 2단, 3단, 6을 출력하고
# 곱해지는 수는 이에 [2, 3, 6]에 1씩을 더한
# [3, 4, 7]이 각각 곱해져야 합니다.
'''
2 X 3 = 6
2 X 4 = 8
2 X 7 = 14
3 X 3 = 9
3 X 4 = 12
3 X 7 = 21
6 X 3 = 18
6 X 4 = 24
6 X 7 = 42
'''

In [52]:
# 문제1

result = 0
s = '135678'

for i in s:
    gugu = int(i)
    print(f"{gugu}단")
    for num in range(1, 10):
        result = gugu * num
        print(f"{gugu} x {num} = {result}")

1단
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
3단
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
5단
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6단
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7단
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8단
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

In [66]:
# 문제2
# 심화문제
# 특이한 구구단이 있다.
# [2, 3, 6]이 있었을 때 아래와 같이 출력되어야 한다.
# 2단, 3단, 6을 출력하고
# 곱해지는 수는 이에 [2, 3, 6]에 1씩을 더한
# [3, 4, 7]이 각각 곱해져야 합니다.
'''
출력
2 X 3 = 6
2 X 4 = 8
2 X 7 = 14
3 X 3 = 9
3 X 4 = 12
3 X 7 = 21
6 X 3 = 18
6 X 4 = 24
6 X 7 = 42
'''
result = 0


# for i in range(nums):
#     for j in nums:
#         print(f'{i} X {j+1} = {i*(j+1)}')
#     # gugu = nums[i]
#     # print(f'{gugu}단')
#     # for j in range(nums):
#     #     dan = gugu * (nums[j]+1)
#     #     print(f"{gugu} x {num} = {result}")

l = [2, 3, 6]
for i in l:
    for j in l:
        print(f'{i} X {j + 1} = {i*(j+1)}')

2 X 3 = 6
2 X 4 = 8
2 X 7 = 14
3 X 3 = 9
3 X 4 = 12
3 X 7 = 21
6 X 3 = 18
6 X 4 = 24
6 X 7 = 42

In [67]:
영화누적관객수 = ['레미제라블', '뷰티인사이트', '메트릭스', '인셉션', '어거스트 러쉬']

for i in enumerate(영화누적관객수):
    print(i)

for i, j in enumerate(영화누적관객수, 1):
    print(f'누적관객수 {i}위! {j}!')

(0, '레미제라블')
(1, '뷰티인사이트')
(2, '메트릭스')
(3, '인셉션')
(4, '어거스트 러쉬')
누적관객수 1위! 레미제라블!
누적관객수 2위! 뷰티인사이트!
누적관객수 3위! 메트릭스!
누적관객수 4위! 인셉션!
누적관객수 5위! 어거스트 러쉬!

In [68]:
fruits = ['apple', 'banana', 'cherry']

for index, fruit in enumerate(fruits):
    print(f"Index {index}: {fruit}")

Index 0: apple
Index 1: banana
Index 2: cherry

In [69]:
numbers = [10, 20, 30, 40, 50]
target = 30

for index, value in enumerate(numbers):
    if value == target:
        print(f"Target {target} found at index {index}")

Target 30 found at index 2

In [71]:
numbers = [1, 2, 3, 4, 5]

for index, value in enumerate(numbers):
    numbers[index] = value * 2
numbers

[2, 4, 6, 8, 10]

# while 문

In [72]:
a = 1

while a < 10 :
	print(a)
	a += 1

1
2
3
4
5
6
7
8
9

In [73]:
# **왈러스 연산자란?** Python 3.8에서 도입된 왈러스 연산자( := )는 할당 표현식(assignment expressions)를 사용하게 해주는 연산자입니다.
# 이 연산자는 이름을 표현식의 결과에 연결하거나 값을 이름에 할당하면서 그 값을 평가합니다. 이 기능은 표현식을 계산하면서 동시에 그 결과를 변수에 할당할 수 있게 해줍니다.

x = (n := 10) * 2
print(x)  # 출력: 20
print(n)  # 출력: 10

# (n := 10)은 10을 n에 할당하고, 그 값을 반환합니다. 그 결과에 2를 곱한 값이 x에 할당되었습니다.

20
10

In [74]:
def 시그마(n):
    count = 0
    result = 0
    while (count := count + 1) < n + 1:
        result += count
    return result

if (합 := 시그마(100)) == 5050:
    print('5050이 출력되었습니다.')
else:
    print('1부터 정수형태로 입력이 가능합니다.')

print(합 + 1000)

5050이 출력되었습니다.
6050

In [75]:
import os

while True:
    userinput = input('>')
    if userinput == 'pwd':
        # print('/'.join(__file__.split('\\')[:-1]))
        print(os.getcwd())
    elif userinput == 'dir' or userinput == 'ls':
        print(os.listdir(os.getcwd()))
    elif userinput == 'exit':
        print('안녕히가세요.')
        break

>pwd
/content
>eng
>exit
안녕히가세요.

In [76]:
import random
# 업다운 게임
answer = random.randint(1, 1000)
while True:
    userinput = int(input('숫자를 입력해주세요.'))
    if userinput > answer:
        print('Down')

    elif userinput < answer:
        print('Up')
    else:
        print('축하합니다! 맞추셨어요!')
        break

숫자를 입력해주세요.50
Up
숫자를 입력해주세요.60
Up
숫자를 입력해주세요.500
Down
숫자를 입력해주세요.400
Down
숫자를 입력해주세요.300
Down
숫자를 입력해주세요.200
Up
숫자를 입력해주세요.250
Up
숫자를 입력해주세요.260
Down
숫자를 입력해주세요.255
Up
숫자를 입력해주세요.256
Up
숫자를 입력해주세요.256
Up
숫자를 입력해주세요.257
축하합니다! 맞추셨어요!

In [77]:
import random

s = [1, 2, 3, 4, 5]
random.shuffle(s)
s

[4, 5, 2, 3, 1]

In [80]:
# while문으로도 구구단
i = 2
j = 1
while i < 10:
    while j < 10:
        print(f'{i} X {j} = {i*j}')
        j+=1
    j = 1 # 10번 강조합니다... while문은 중첩해서 쓸 때 초기화가 필요합니다.
    i+=1

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [81]:
i = 2
while i < 10:
    j = 1 # 별표 5개! while문은 중첩해서 사용할 때 초기화가 필요합니다!
    while j < 10:
        print(f'{i} X {j} = {i*j}')
        j += 1
    i += 1

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [104]:
data = [
  {
    "_id": "287b44e4-d6d8-4a64-Bdf4-bfc50fedebd8",
    "index": "1",
    "name": "모송이",
    "email": "user-s6nfwx3@augue.org",
    "phone": "010-7996-9978",
    "country": "네덜란드",
    "address": "여의하류로 79-9",
    "job": "경찰관",
    "gender": "남성",
    "int": "32"
  },
  {
    "_id": "e3a93069-7d76-40a1-C25d-17d0057c1cb7",
    "index": "2",
    "name": "반시영",
    "email": "user-qqhgzek@rutrum.org",
    "phone": "010-3769-4878",
    "country": "몽골",
    "address": "논현로 97-7",
    "job": "화가",
    "gender": "남성",
    "int": "40"
  },
  {
    "_id": "633df946-fe2e-4cd8-Cc9e-ad604731b7a3",
    "index": "3",
    "name": "만예희",
    "email": "user-hpz3sp1@eiusmod.com",
    "phone": "010-7668-3707",
    "country": "베냉",
    "address": "용두동 31-1",
    "job": "상담전문가",
    "gender": "여성",
    "int": "26"
  },
  {
    "_id": "630250ed-e0ca-459c-C413-b29d0ad80df1",
    "index": "4",
    "name": "음주연",
    "email": "user-sg2q7mb@fames.com",
    "phone": "010-3606-8303",
    "country": "뉴칼레도니아",
    "address": "독산로 66-9",
    "job": "일러스트레이터",
    "gender": "여성",
    "int": "41"
  },
  {
    "_id": "6d7300f2-beca-48ae-B230-348405804838",
    "index": "5",
    "name": "등혜빈",
    "email": "user-mwbyxqr@dictum.biz",
    "phone": "010-7210-9218",
    "country": "남수단",
    "address": "잠원로 2-6",
    "job": "정보보호전문가",
    "gender": "여성",
    "int": "41"
  }
]
data[0]

{'_id': '287b44e4-d6d8-4a64-Bdf4-bfc50fedebd8',
 'index': '1',
 'name': '모송이',
 'email': 'user-s6nfwx3@augue.org',
 'phone': '010-7996-9978',
 'country': '네덜란드',
 'address': '여의하류로 79-9',
 'job': '경찰관',
 'gender': '남성',
 'int': '32'}

In [105]:
# 문제 1번 : 평균 나이를 출력해주세요.

data_age = [int(i['age']) for i in data]

print(data_age)

avr = sum(data_age) / len(data_age)

print(avr)

KeyError: ignored

In [98]:
# 문제 2번 : 남녀 성비를 출력해주세요.

MALE = '남성'

data_gender = [i['gender'] for i in data]

print(data_gender)

MALE_AVR = int((data_gender.count(MALE) / len(data_gender)) * 100)
FEMALE_AVR = 100 - MALE_AVR


print(MALE_AVR)
print(avr)

['남성', '남성', '여성', '여성', '여성']
40
0.6666666666666666

In [102]:
# 나이
data_age = map(lambda x:x['age'], data)
data_age = map(int, data_age)
list(data_age)

KeyError: ignored

In [106]:
# 나이
# list(map(lambda x:x['age'], data))
ages = map(lambda x:x['age'], data)
ages = map(int, ages)
# list(ages) # map은 한번 순회가 돌면 다시 순회가 불가합니다.

In [107]:
ages = list(ages)
ages

KeyError: ignored

In [108]:
sum(ages) / len(ages)

KeyError: ignored

In [109]:
a = map(int, ['1', '2'])
# list(a)
a = list(a)
a

[1, 2]

In [110]:
s = 'abcd'
s = iter(s)
next(s)

'a'

In [111]:
gender = list(map(lambda x:x['gender'], data))
total = len(gender)
man = gender.count('남성')
woman = total - man
man/total * 100, woman/total * 100

(40.0, 60.0)

# 연습문제

In [ ]:
# 주어진 리스트 data = [{"name": "길동", "수학": 3, , "과학": 93}, {"name": "춘향", "수학": 33, "수학": 11}, {"name": "철수", "수학": 94, "과학": 67}]에서 평균점수가 가장 높은 학생에 이름을 출력하세요.

# 주어진 사전 grades = {"Tom": 87, "Jerry": 95, "Mickey": 70}의 모든 값을 5점씩 증가시키고 결과를 출력하세요.

# 주어진 문자열 s = "apple banana apple cherry banana cherry apple"에서 가장 자주 등장하는 단어를 출력하세요.

In [ ]:
# 주어진 리스트 data = [{"이름": "길동", "수학": 3, "과학": 93}, {"이름": "춘향", "수학": 33, "과학": 11}, {"이름": "철수", "수학": 94, "과학": 67}]에서
# 평균점수가 가장 높은 학생에 이름을 출력하세요.
data = [
    {"이름": "길동", "수학": 3, "과학": 93},
    {"이름": "춘향", "수학": 33, "과학": 11},
    {"이름": "철수", "수학": 94, "과학": 67}
]

avr_list = [(i["이름"], (i["수학"] + i["과학"]) / 2) for i in data]

# 최댓값을 찾기 위해 max 함수 사용
max_student = max(avr_list, key=lambda x: x[1])

print(max_student[0])

철수

In [ ]:
# 주어진 사전 grades = {"Tom": 87, "Jerry": 95, "Mickey": 70}의 모든 값을 5점씩 증가시키고 결과를 출력하세요.
grades = {"Tom": 87, "Jerry": 95, "Mickey": 70}
grades = {k:v + 5 for k, v in grades.items()}
print(grades)

{'Tom': 92, 'Jerry': 100, 'Mickey': 75}

In [ ]:
# 주어진 문자열 s = "apple banana apple cherry banana cherry apple"에서 가장 자주 등장하는 단어를 출력하세요.

s = "apple banana apple cherry banana cherry apple"

words = list(set(s.strip().split(" ")))

items = {}
for i in range(len(words)):
    items.update({words[i] : s.count(words[i])})

max_key = max(items, key=items.get)

print(max_key)

apple

NameError: ignored